
@import "variables";

@mixin base-form-element {
	padding: 0 15px;
	outline: none;
	border: 2px solid $color-grey-7;
	border-radius: 3px;
}

.label {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500;
}

.input {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;

	@include base-form-element;
}