
.icon {

	$icon: &;

	display: inline-block;
	width: 16px;
	height: 16px;
	background: {
		position: center center;
		repeat: no-repeat;
	};

	&#{$icon}-arrow-down {
		background-image: url("../images/arrow-down.png");
	}

	&#{$icon}-help {
		width: 22px;
		height: 22px;
		background-image: url("../images/help.png");
	}
}