
.payment-icon {
	display: inline-block;
	height: 25px;
	background: url("../images/payment.png") 0 0 no-repeat;

	&.icon-visa {
		width: 43px;
		background-position-y: -125px;
	}

	&.icon-mastercard {
		width: 38px;
		background-position-y: -25px;
	}

	&.icon-yandex {
		width: 42px;
		background-position-y: -50px;
	}

	&.icon-qiwi {
		width: 69px;
		background-position-y: -75px;
	}

	&.icon-webmoney {
		width: 55px;
		background-position-y: -100px;
	}

	&.icon-svyaznoy {
		width: 76px;
		background-position-y: 0;
	}
}