
$color-grey: #d4d4d4;
$color-grey-2: #3d3d3d;
$color-grey-3: #b2b2b2;
$color-grey-4: #e1e1e1;
$color-grey-5: #e8e8e8;
$color-grey-6: #f5f5f5;
$color-grey-7: #d9d9d9;

$brand-primary: #a1c67a;

$body-bg: #ececec;
$text-color: #010101;

$link-color: #4786c8;

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$grid-gutter-width: 20px;
$container-desktop: (940px + $grid-gutter-width);