
@import "../base/variables";

.block {

	$block-padding: 20px;

	background-color: white;
	margin-bottom: 20px;
	border: 2px solid $color-grey-4;
	border-radius: 2px;

	&-tabs {

		$tabs-height: 50px;

		height: $tabs-height;
		border-bottom: 1px solid $color-grey-5;

		&-item {
			display: inline-block;
			height: $tabs-height;
			line-height: $tabs-height;
			padding: 0 20px;

			.btn-content {
				display: inline-block;
				height: $tabs-height;
				line-height: $tabs-height;
			}

			&.active .btn-content {
				color: black;
				border-bottom: 3px solid $link-color;
			}
		}
	}

	&-inner {
		padding: $block-padding;
	}
}