
@import "../base/variables";
@import "variables";

.content {
	position: relative;
	z-index: $layout-z-index-content;
	min-height: 100%;
	padding: {
		top: $header-height + $header-margin;
		bottom: $footer-height + $footer-margin;
	};

	&-title {
		margin-bottom: 15px;
		font-size: 24px;
	}

	&-support {
		padding-top: 16px;
	}

	&-phone {

		&-image {
			margin: {
				top: -12px;
				right: 10px;
			};
		}

		&-text {
			font-size: 30px;
		}
	}

	&-help-btn {
		position: fixed;
		right: 0;
		top: 180px;
		transform-origin: right;
		transform: rotate(-90deg) translate(0, -50%);
		height: 50px;
		line-height: 50px;
		padding: 0 52px 0 20px;
		background-color: $link-color;
		color: white;
		border-radius: 5px 5px 0 0;
		box-shadow: -9px 5px 0 $color-grey;

		&:focus,
		&:active,
		&:hover {
			outline: none;
			color: white;
			box-shadow: -9px 5px 0 $color-grey;
		}

		.icon {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: rotate(90deg);
			margin: {
				top: -11px;
			};
		}
	}
}