
@import "../base/variables";
@import "variables";

.footer {
	position: relative;
	z-index: $layout-z-index-footer;
	height: $footer-height;
	margin-top: -$footer-height;
	border-bottom: 2px solid #ececec;
	background-color: white;

	.container {
		background-color: white;
	}

	&-content {
		margin-top: $footer-padding;
		height: $footer-content-height;
	}

	&-info {
		height: $footer-info-height;
		line-height: $footer-info-height;

		.payment-icon {
			margin: {
				left: 17px;
				bottom: -5px;
			};
		}
	}

	&-menu {
		position: relative;
		height: $footer-menu-height;

		&-title {
			font-weight: 700;
			color: $color-grey-2;
			text-transform: uppercase;
		}

		&-list-item {
			margin-top: 11px;
			font-weight: 500;

			&-link {
				font-size: 13px;
				color: #79a2d4;
			}
		}

		&-separator {
			position: absolute;
			left: -40px;
			top: 0;
			height: $footer-menu-height;
			border-left: 1px solid $color-grey-4;
		}
	}
}