
@import "../base/variables";
@import "variables";

.header {
	position: relative;
	z-index: $layout-z-index-header;
	width: 100%;
	height: $header-height;
	line-height: $header-height;
	margin-bottom: -$header-height;

	&-inner {
		min-width: $container-desktop;
		background-color: white;
		border-bottom: 1px solid $color-grey;
	}

	&-logo {
		display: block;
		line-height: 0;
		margin-top: ($header-height - 40px) / 2;
	}

	&-auth {
		float: left;
		margin-left: 30px;
		color: $color-grey-3;

		&-separator {
			display: inline-block;
			width: 1px;
			height: 17px;
			margin: 0 10px -4px 10px;
			background-color: $color-grey-3;
		}
	}

	&-menu {
		float: right;

		&-item {
			line-height: $header-height;
			margin-right: 30px;
			color: $color-grey-2;
		}
	}

	&-order-btn {
		display: block;
		width: 160px;
		transform: translate(0, 50%);
		margin: {
			left: -$grid-gutter-width / 2;
			right: -$grid-gutter-width / 2;
		};
		font-weight: 600;
	}
}