
$layout-z-index-header: 200;
$layout-z-index-content: 100;
$layout-z-index-footer: 200;

$header-height: 70px;
$header-margin: 40px;

$footer-height: 270px;
$footer-margin: 40px;
$footer-padding: 50px;
$footer-info-height: 70px;
$footer-content-height: $footer-height - $footer-padding - $footer-info-height;
$footer-menu-height: 140px;