
.auth {

	&-title {
		position: absolute;
		left: 30px;
		top: 30px;
		text-transform: uppercase;
		font-size: 16px;
	}

	&-form {
		width: 380px;
		margin-left: 300px;

		.form-block & {
			margin-left: 270px;
		}

		&-btn {
			height: 40px;
			line-height: 40px;
			padding: {
				top: 0;
				bottom: 0;
			};
		}
	}

	&-help-btn {
		position: absolute;
		right: 15px;
		top: 25px;
		color: black;

		&:hover {
			color: black;
			text-decoration: none;
		}

		.icon {
			margin-bottom: -3px;
		}
	}
}