
@import "base/variables";

@import "base/index";
@import "layouts/index";
@import "components/index";
@import "pages/index";

html, body {
	height: 100%;
	font-family: $font-family-base;
	background-color: $body-bg;
}

body {
	min-height: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}